@mixin hgd-body() {
  @extend .border;
  @extend .border-dark;
  @extend .rounded;
  position: relative;

  &:before {
    @extend .badge;
    @extend .badge-dark;
    position: absolute;
    
    content: "мегарегион: body";

    @extend .m-1;
    right: 0;
  }

  > div.wrapper {
    @extend .border;
    @extend .border-dark;
    @extend .p-4;
    position: relative;

    margin: 20px;
    margin-top: 30px;

    &:before {
      @extend .badge;
      @extend .badge-dark;
      @extend .mr-1;
      @extend .mt-1;
      right: 0;
      top: 0;
      position: absolute;

      content: "body > div.wrapper";
    }
  }
}

@mixin hgd-region($element, $class: secondary, $min-height: 150px, $center: true) {
  @extend .border;
  @extend .border-#{$class};
  @extend .rounded;
  min-height: $min-height;
  position: relative;

  &:before {
    @extend .badge;
    @extend .badge-#{$class};
    position: absolute;
    
    content: "регион: " + $element;

    @extend .m-1;
    right: 0;
  }

  > div.wrapper {
    @extend .border;
    @extend .border-#{$class};
    @extend .rounded;
    position: relative;

    @if $center {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
    }

    margin: 20px;
    margin-top: 30px;
    min-height: calc(#{$min-height} - 40px);

    &:before {
      @extend .badge;
      @extend .badge-#{$class};
      @extend .mr-1;
      @extend .mt-1;
      right: 0;
      top: 0;
      position: absolute;

      content: "#{$element} > div.wrapper";
    }
  }
}

@mixin hgd-block($element, $class: secondary, $min-height: 200px) {
  @extend .border;
  @extend .border-#{$class};
  @extend .rounded;
  min-height: $min-height;
  position: relative;

  margin-top: 30px;

  // &:hover {
    &:before {
      @extend .badge;
      @extend .badge-#{$class};
      position: absolute;
      
      content: "блок: " + $element;
  
      @extend .m-1;
      right: 0;
      bottom: 0;
    }
  // }
}