{{ $currentPage := .}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{ $brandExists := false }}
  {{ range .Site.Menus.main.ByWeight }}
  {{ if eq .Identifier "brand" }}
    {{ $brandExists = true }}
    <a class="navbar-brand" href="#">
      {{ with .Params.Image }}
        {{ $src := (printf "https://via.placeholder.com/%dx%d?text=Logo+%dx%d" .width .height .width .height) }}

        {{ with .src }}
          {{ $src = .src }}
        {{ end }}

        <img width="{{.width}}" height="{{.height}}"
          src="{{ $src }}">
      {{ else }}
        {{ .Title }}
      {{ end }}
    </a>
  {{ end }}
  {{ end }}

  {{ if ne $brandExists true }}
  <span>&nbsp;</span>
  {{ end }}

  <button class="navbar-toggler" type="button" 
    data-toggle="collapse" data-target="#navbarNavAltMarkup" 
    aria-controls="navbarNavAltMarkup" aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
    id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{ range .Site.Menus.main.ByWeight }}
      {{ if ne .Identifier "brand" }}
        <a class="nav-link  {{- if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">{{ .Title }} {{.Params.Image}}
          {{- if $currentPage.IsMenuCurrent "main" . -}}<span class="sr-only">(current)</span>{{- end -}}
        </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</nav>